<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348720079980-qd9nuhb9l8tu2atuk8sac1q1ihqi3mk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348720079980-qd9nuhb9l8tu2atuk8sac1q1ihqi3mk5</string>
	<key>API_KEY</key>
	<string>AIzaSyBnCFNKrauwOWKBQD8MHuzdxsKhDZiLFbE</string>
	<key>GCM_SENDER_ID</key>
	<string>348720079980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sorosons.airart.aiart</string>
	<key>PROJECT_ID</key>
	<string>airart-2a90c</string>
	<key>STORAGE_BUCKET</key>
	<string>airart-2a90c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348720079980:ios:9f6ef443db275be34ba449</string>
</dict>
</plist>